# This is a basic workflow to help you get started with Actions

name: Daily Challenge - Leetcode

# Controls when the action will run. 
on:
  schedule:
    # Runs at 10:10 UTC every day
    - cron: "0 10 * * *"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        
      - name: Setup Python 3.9
        uses: actions/setup-python@v2
        with:
          # Semantic version range syntax or exact version of a Python version
          python-version: '3.9.0'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y unzip openssl
          python3 -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi;
      
      - name: Install Chrome driver
        run: |
          CHROME_VERSION=`google-chrome --version | grep -iEo "[0-9]+.[0-9]+.[0-9]+"`
          CHROME_DRIVER_VERSION=`curl -sS https://chromedriver.storage.googleapis.com/LATEST_RELEASE_$CHROME_VERSION`
          wget -N https://chromedriver.storage.googleapis.com/$CHROME_DRIVER_VERSION/chromedriver_linux64.zip -P ~/
          unzip ~/chromedriver_linux64.zip -d ~/
          rm ~/chromedriver_linux64.zip
          sudo mv -f ~/chromedriver ./libs/chromedriver
          sudo chown root:root ./libs/chromedriver
          sudo chmod 0755 ./libs/chromedriver

      - name: Scrape challenge
        id: crawl
        env:
          USERNAME: ${{ secrets.LEETCODE_USERNAME }}
          PASSWORD: ${{ secrets.LEETCODE_PASSWORD }}
        run: echo ::set-output name=FILENAME::$(python3 index.py --mode crawl -u $USERNAME -p $PASSWORD)

      - name: Dispatch email notification
        env:
          HOST: ${{ secrets.SMTP_HOST }}
          USERNAME: ${{ secrets.SMTP_USERNAME }}
          PASSWORD: ${{ secrets.SMTP_PASSWORD }}
          SENDER: ${{ secrets.EMAIL_SENDER }}
          RECEIVERS: ${{ secrets.EMAIL_RECEIVERS }}
        run: python3 index.py --mode email --host $HOST -u $USERNAME -p $PASSWORD -s "$SENDER" -r "$RECEIVERS" -f "${{ steps.crawl.outputs.FILENAME }}"
